@import "../../styles/common.scss";

.LineCard {
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .preview {
    .lineCarousel {
      .slickSlider {
        .itemSlickSlider {
          float: left;

          .imagfigure {
            position: relative;

            .slidercarImg {
              position: absolute;
              width: 100%;
              height: 100%;
              min-width: auto;
              min-height: auto;
              object-fit: cover;
              object-position: center;
              transform: none;
              position: static;
            }
          }
        }
      }
    }
  }
  .content {
    margin-top: 24px;
    padding: 0 12px;
    overflow: hidden;
    font-family: $g-font-style;
    .primaryCta {
      float: right;
      background: #0b2749;
      border: 1px solid #0b2749;
      color: #fff;
      font-size: 14px;
      line-height: 37px;
      border-radius: 2px;
      padding: 0 24px;
      cursor: pointer;
    }
    .cardTitle {
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 12px;
      color: #404040;
    }
    .linesActions {
      margin-top: 12px;
      display: flex;
    }
    .description {
      letter-spacing: -0.02em;
      position: relative;
      font-size: 14px;
      line-height: 22px;
      margin-top: 24px;
      padding-top: 12px;
    }
    .detailDescription {
      padding-top: 0;
      margin-top: 10px;
      letter-spacing: -0.02em;
      position: relative;
      font-size: 14px;
      line-height: 22px;
    }
  }
}
