@import "../../styles/common.scss";

.Title {
  font-size: 18px;
  line-height: 60px;
  background: #f5f5f5;
  background-color: #f5f5f5;
  text-align: center;
  margin-bottom: 24px;
  .noname {
    color: #404040;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    padding-top: 24px;
    font-family: Univers LT W02_57 Condensed;
  }
  .ctaCont {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
    margin-top: 6px;
    .headCta {
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      line-height: normal;
      .icon {
        vertical-align: middle;
        background: none;
        border: 0;
        line-height: normal;
        font-size: 12px;
        font-weight: 700;
        color: #17447a;
      }
    }
  }
}
