@font-face {
    font-family: Univers45;
    src: url("../fonts/4201a9f6-3b6a-4b16-8b4d-39f514509601.woff2")
      format("woff2");
  }

$primary-grey-bg: #f2f1f0;
$primary-dk-font: #333;
$g-font-style: Univers45, Malgun Gothic, 맑은 고딕, Dotum, Gulim,
AppleGothic, sans-serif;