@import "../../styles/common.scss";

.MakeMyCar {
  display: flex;
  flex-direction: column;
  .conponentTitle {
    width: 100%;
    background: #f2f1f0;
    margin-top: 75px;
    .text {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 45px 0;
      .title {
        font-size: 42px;
        letter-spacing: -0.02em;
        line-height: 1.1;
        height: 60px;
        color: #333;
        padding-left: 60px;
        white-space: nowrap;
        font-weight: 400;
        font-family: $g-font-style;
      }
      .explanation {
        font-size: 18px;
        letter-spacing: -0.02em;
        line-height: 1.5;
        padding: 2px 60px 10px 60px;
        color: #333;
        vertical-align: middle;
        font-family: $g-font-style;
      }
    }
  }

  .Submodels {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding-top: 30px;
    width: 100%;
    color: #333;
    border-bottom: 1px solid #ebebeb;
    .samemodels {
      display: inline-block;
      vertical-align: top;
      width: 25%;

      .modelvisible {
        width: 100%;
        font-size: 1pc;
        letter-spacing: 0;
        line-height: 1.5;
        box-sizing: border-box;
        padding: 20px 30px;
        border-right: 1px solid #ebebeb;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $g-font-style;

        h2 {
          font-size: 18px;
          letter-spacing: -0.02em;
          line-height: 1.5;
          text-transform: uppercase;
          color: #333;
          margin-bottom: 20px;
          text-align: center;
          font-weight: 400;
          margin-top: 0;
        }
        .rowMy {
          text-align: center;
          .yearButton {
            display: inline-block;
            color: #f2f1f0;
            background: #0c2340;
            border-radius: 3px;
            padding: 6px 9pt;
            font-size: 0.9rem;
            cursor: pointer;
          }
        }
        .image {
          width: 80%;
          height: auto;

          display: inline-block;
          left: 50%;
          margin: 30px 0;

          .makecar1 {
            width: 100%;
            height: auto;

            top: 0;
            border: 0;
          }
        }

        .pricecar {
          .cta {
            margin-top: 8px;
            background-color: #0c2340;
            border: 1px solid #0c2340;
            display: inline-block;
            border-radius: 2px;
            text-align: center;
            a {
              padding: 3px 15px;
              width: auto;
              color: #fff;
              font-size: 14px;
              letter-spacing: 0.04em;
              text-transform: uppercase;
              line-height: 2;
              text-decoration: none;
              display: inline-block;
            }
          }
        }

        .miniSpec {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin: 30px 0 20px;
          .miniSpecRow {
            display: flex;
            flex-direction: column;
            .spec {
              display: flex;
              justify-content: space-between;
              box-sizing: border-box;
              padding: 2px 0;
              width: 100%;

              .specVal {
                right: 0;
                font-family: Univers LT W02_700 Condensed;
              }
            }
          }
        }

        .standardB {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          cursor: pointer;
          a {
            display: flex;
            flex-direction: row;
            align-items: center;
            span {
              color: #0c2340;
              height: 22px;
            }
            img {
              width: 20px;
              height: 20px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  .conficodewrapper {
    width: 100%;
    box-sizing: border-box;
    .conficode {
      font-size: 18px;
      letter-spacing: -0.02em;
      line-height: 1.5;
      background-color: #f2f1f0;
      border-bottom: 1px solid #ebebeb;
      border-top: 1px solid #ebebeb;
      text-align: center;
      padding: 60px 30px;
      color: #333;
      box-sizing: border-box;
      .flexWrapper {
        display: inline-flex;
        flex-direction: column;
        align-content: center;
        .text {
          margin: 0 auto;
          max-width: 600px;
          font-family: $g-font-style;
        }
        .conficodeInput {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 30px;

          .inputsInput {
            position: relative;
            .confiBea {
              font-family: $g-font-style;
              padding: 10px 20px 10px 50px;
              background-color: #fff;
              box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.05);
              border: none;
              font-size: 1pc;
              box-sizing: border-box;
              border-radius: 2px;
            }
            .helpimg {
              position: absolute;
              top: calc(50% - 9px);
              left: 1pc;
              width: 18px;
              height: 18px;
              cursor: pointer;
            }
          }

          .inputsSubmit {
            margin-left: 30px;
            display: flex;
            .ctaSubmit {
              background-color: #0c2340;
              line-height: 2;
              font-size: 14px;
              border-radius: 2px;
              color: #fff;
              padding: 0 30px;
              cursor: pointer;
              appearance: button;
              border: none;
              height: 40px;
            }
          }
        }
      }
    }
  }
}
