@import "../../styles/common.scss";

.Sum {
  display: flex;
  flex-direction: column;
  font-family: $g-font-style;

  .summayHero {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    .heroLeft {
      width: 66.66667%;
      position: relative;
      .img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    .heroRight {
      width: 33.33333%;
      display: flex;
      flex-direction: column;
      .rightHigh {
        width: 100%;

        .img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .rightBottom {
      width: 100%;
      height: 100%;
      .img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.summayBottom {
  display: flex;
  flex-direction: row;
  .bottomLeft {
    box-sizing: border-box;
    width: 66.66667%;
    padding: 60px 60px 72px;
    background: #fff;
  }
  .bottomRight {
    width: 33.33333%;
  }
}

.bottomLeft {
  .title {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 48px;
  }

  .tablewidth {
    width: 100%;
    margin-bottom: 60px;
    .titleth {
      display: flex;
      justify-content: space-between;
      .bbtom {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        span {
          font-size: 16px;
          color: #0b2749;
          margin-right: 6px;
          font-family: $g-font-style;
          font-weight: 100;
        }
        .img {
          width: 18px;
          height: 10px;
        }
      }
    }
  }

  .trclass {
    display: table-row;
    .titleth {
      font-size: 20px;
      padding-bottom: 12px;
      font-weight: 600;
      text-align: left;
      color: #404040;
    }
  }
  .balconi {
    border-bottom: 1px solid #ccc;
    height: 48px;
    display: table-row;
    text-align: left;
    color: #636363;
    .item {
      letter-spacing: 0.04em;
      font-size: 14px;
      width: 33.333%;
      padding: 12px 0;
      display: table-cell;
      line-height: 24px;
    }
    .des {
      display: table-cell;
      line-height: 24px;
      letter-spacing: 0.04em;
      font-size: 14px;
      width: 33.333%;
      padding: 12px 0;
    }
    .price {
      display: table-cell;
      line-height: 24px;
      letter-spacing: 0.04em;
      font-size: 14px;
      width: 33.333%;
      padding: 12px 0;
    }
  }
}

.carSummaryWrapper {
  flex: 1 1 25%;
  padding: 36px 12px;
  //top: 12%;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  .title {
    width: inherit;
    margin-bottom: 12px;
    //min-height: 57px;

    h2 {
      letter-spacing: 0;
      font-size: 20px;
      margin: 0;
    }
  }

  .carSummaryImgCont {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .btnCont {
    margin: 12px 0;
    list-style-type: none;

    li {
      list-style-type: none;
      text-align: center;
      button {
        padding: 0 24px;
        line-height: 48px;
        width: 100%;
        margin-bottom: 12px;
        background: #0b2749;
        border: 1px solid #0b2749;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
      }
      &:last-child {
        button {
          background: #fff;
          border: 1px solid #404040;
          color: #404040;
        }
      }
    }
  }

  .iconGroup {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 24px 12px;
    li {
      line-height: 1.5em;
      font-size: 14px;
      display: inline-block;
      text-align: left;
      box-sizing: border-box;
      width: 40%;
      margin-right: 10%;
      margin-bottom: 36px;
      img {
        vertical-align: middle;
        margin-right: 3px;
        float: left;
        .iconsGroup {
          margin: 24px 12px;
          flex-direction: column;
          button {
            flex: 0 0 40%;
            border: 0;
            text-align: left;
            display: inline;
            margin-bottom: 36px;
            margin-left: 10%;
            width: 40%;
            height: 27px;
            background: transparent;
            span {
              font-size: 14px;
              white-space: nowrap;
              width: calc(100% - 32px);
              margin-left: 32px;
              line-height: 27px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

.CcFooter {
  border-top: 1px solid #ebebeb;
  background-color: #fff;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: $g-font-style;
  .footerRow {
    margin: 24px auto 0;
    padding: 0 60px 30px;
    display: block;
    height: 45px;
    .left {
      float: left;
      padding-right: 40px;
      padding-bottom: 54px;
      list-style-type: none;
      a {
        cursor: pointer;
        color: #404040;
        margin-right: 24px;
      }
    }
  }
}
