@import '../../styles/common.scss';

.Hero {

    font-family: $g-font-style;
    letter-spacing: -.02em;
    width: 100%;
    min-height: 845px;
    position: relative;
    overflow: hidden;
    transform: none;

    img {   
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        min-width: auto;
        min-height: inherit;
        object-fit: cover;
        object-position: center;
        transform: none;
    }

    .TextCt{

        color: #fff;
        z-index: 101;
        position: absolute;
        padding-left: 60px;
        padding-right: 60px;
        box-sizing: border-box;
        width: 100%;
        bottom: 40px;
        display: flex;
        align-items: flex-end;
        font-size: 56px;
        animation: slide-TextCt 2.5s ease-in-out;

        @keyframes slide-TextCt {
            0% {
                bottom: 20px;
            }
            100% {
                bottom: 40px;
            }
        }

        .CarName {
            font-size: 56px;
            position: relative;
        }

        .Desc {
            font-size: 18px;
            margin-left: 40px;
        }

        div {
            background: #fff;
            text-align: center;
            margin-top: 10px;
            text-decoration: none;
            padding: 6px 50px;
            border-radius: 4px;
            font-size: 18px;
            letter-spacing: .04em;
            text-transform: uppercase;
            line-height: 2;
            color: #333;
            box-shadow: inset 0 0 0 1px #333;
        }

        .WhiteCt {
            margin-left: auto;
        }
    }
}

.Hero::after {
    content: "";
    position: absolute;
    border-left: 1px solid #ffffff;
    bottom: 0;
    height: 98px;
    left: 410px;
    animation: slide-up 2.5s ease; 
}


@keyframes slide-up {
    0% {
        height: 0px;
    }
    100% {
        height: 98px;
    }
}