@import "../../styles/common.scss";

.Hero {
  font-family: $g-font-style;
  letter-spacing: -0.02em;
  width: 100%;
  min-height: 845px;
  position: relative;
  overflow: hidden;
  transform: none;

  .slick-prev:before {
    content: "";
    display: none;
  }

  .slick-next:before {
    content: "";
    display: none;
  }

  .slick-prev {
    z-index: 500;
    left: 3%;
  }

  .material-icons.md-dark {
    z-index: 500;
    color: #fff;
  }

  .slick-next {
    z-index: 500;
    right: 3%;
  }

  .slick-dots {
    display: flex !important;
    position: absolute;
    top: 94%;
    left: 87%;
    z-index: 600;
    width: 10px;
    height: 10px;
    margin: 0 2px;

    li {
      position: relative;
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
    }

    button::before {
      color: #fff;
      color: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
      width: 10px;
      height: 10px;
    }

    .slick-active {
      button::before {
        color: transparent;
        background-color: #fff;
        opacity: 1;
        border-radius: 50%;
      }
    }
  }

  img {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    min-width: auto;
    min-height: inherit;
    object-fit: cover;
    object-position: center;
    transform: none;
  }

  .TextCt {
    color: #fff;
    z-index: 101;
    position: absolute;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
    width: 1500px;
    bottom: 30px;
    display: flex;
    align-items: flex-end;
    font-size: 56px;
    animation: slide-TextCt 3.1s infinite;

    @keyframes slide-TextCt {
      0% {
        bottom: 30px;
      }
      100% {
        bottom: 50px;
      }
    }

    .CarName {
      font-size: 56px;
      position: relative;
    }

    .Desc {
      font-size: 18px;
      margin-left: 40px;
      position: relative;
    }

    .Desc::before {
      content: "";
      position: absolute;
      border-left: 1px solid #ffffff;
      bottom: 0;
      height: 116px;
      left: -20px;
      bottom: -56px;
      animation: slide-up 3.1s infinite;
    }

    @keyframes slide-up {
      0% {
        height: 0px;
      }
      100% {
        height: 116px;
      }
    }
  }

  div {
    position: relative;
    .WhiteCt {
      margin: 0 auto;
      background: #fff;
      text-align: center;
      margin-top: 10px;
      text-decoration: none;
      padding: 6px 30px;
      border-radius: 4px;
      font-size: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      line-height: 2;
      color: #333;
      box-shadow: inset 0 0 0 1px #333;
      height: 40px;
      position: absolute;
      left: 86.3%;
      top: 87.4%;
    }
  }
}
