@import "../../styles/common.scss";

.Footer {
  background-color: #333333;
  font-family: $g-font-style;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;

  .FooterWrapper {
    padding: 30px 0;
    height: 170px;
    color: #ffff;
    display: flex;
    justify-content: space-between;

    a {
      color: #ffff;
    }

    .FooterBar {
      .FooterBarList {
        padding-top: 30px;

        li {
          margin-bottom: 5px;
          font-size: 14px;
        }

        .heading {
          margin-bottom: 15px;
          font-weight: bold;
          font-family: Univers LT W02_700 Condensed;
        }

        .bold {
          margin-bottom: 5px;
          font-size: 14px;
        }
      }
    }
    .FooterBarRight {
      padding-top: 30px;

      .locator {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          margin-right: 20px;
        }
        .change {
          float: right;
          border-left: 1px #666666 solid;
          padding-left: 20px;
          font-weight: bold;
          text-decoration: underline;
        }

        .change:before {
          width: 3px;
        }
      }

      .FooterTitle {
        margin: 40px 0 15px 0;
      }

      .subscribeBtn {
        border: 1px #ffff solid;
        font-size: 14px;
        padding: 5px 20px;
        border-radius: 5px;
        width: auto;
        text-align: center;
        width: auto;

        a {
          letter-spacing: 0.04em;
          text-transform: uppercase;
          line-height: 2;
        }
      }
      .FooterBarList {
        padding: 0 0 30px 60px;
        border-left: 1px #6666 solid;
      }
    }
    .FooterBarRight:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .FooterUnderCont {
    width: auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;

    .snsIcons {
      text-align: center;
      padding-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    img {
      width: 35px;
      height: 35px;
      margin: 0 5px;

      border-radius: 5px;
    }

    .form {
      padding: 20px 10px;
      color: #fff;
      box-sizing: border-box;
      background: none;
      margin: 0;
      width: 400px;
      border: 0;
      border-bottom: 2px solid #fff;

      img {
        position: absolute;
        top: 5px;
        right: -50px;
      }
    }

    .form::after {
      content: "";
      background-image: url("../../images/FooterMore.png");
      display: inline-block;
      position: absolute;
      top: 30%;
      left: 100%;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
    }

    .logo {
      padding: 20px 0;
      img {
        width: 100px;
        height: 45px;
        background-color: #333333;
      }
    }

    .credits {
      span {
        display: inline-block;
        margin: 3px 20px 3px 0;
      }
      a {
        color: #fff;
        font-size: 14px;
      }
    }
  }
}
