@import "../../styles/common.scss";

.siseonWrapper {
  padding: 60px;
  background-color: #f2f1f0;
  position: relative;
  display: block;
  .title {
    margin-top: 75px;
    font-size: 42px;
    letter-spacing: -0.02em;
    line-height: 1.1;
    color: #333;
    font-family: Univers LT W02_47 Light Cond;
  }
  .form {
    padding-top: 30px;
    .half {
      width: 100%;
      .question {
        text-transform: uppercase;
        font-size: 1pc;
        letter-spacing: 0;
        line-height: 1.5;
        color: #333;
        margin-bottom: 30px;
        margin-left: 2pc;
        font-family: Univers45;
      }
      .row {
        vertical-align: top;
        display: inline-block;
        width: 50%;
        clear: both;
        margin-bottom: 30px;
        position: relative;
        .require {
          font-size: 18px;
          letter-spacing: -0.02em;
          line-height: 1.5;
          color: #c10202;
          width: 20px;
          padding: 6px;
          display: inline-block;
          text-align: center;
        }
        .beautify {
          width: calc(100% - 2pc);
          color: #333;
          font-size: 1pc;
          display: inline-block;
          line-height: 1.5;
          border: none;
          box-sizing: border-box;
          border-radius: 2px;
          padding: 10px 20px;
          background-color: #fff;
          box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.05);
          height: 42px;

          &:focus {
            outline: 3px solid #000;
            outline-color: #6495ed;
          }
        }

        .ani {
          position: absolute;
          font-size: 14px;
          letter-spacing: 0;
          line-height: 1.5;
          left: 43.33333px;
          top: 9pt;
          transition: all 0.2s ease;
          pointer-events: none;
        }
      }
    }
  }

  .full {
    margin-top: 30px;
    width: 100%;
    .question {
      font-size: 1pc;
      letter-spacing: 0;
      line-height: 1.5;
      color: #333;
      margin-bottom: 30px;
      margin-left: 2pc;
    }
    .privacy {
      color: #333;
      margin-left: 2pc;
      font-family: Univers45;
      .priCommon {
        margin-bottom: 15px;
        font-size: 9pt;
        text-align: justify;
        .tos {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .rowPri {
      margin-bottom: 30px;
      .requireNot {
        width: 3px;
      }
      .priChk {
        width: calc(100% - 2pc);
        vertical-align: top;
        margin-top: 6px;
        display: inline-block;
        font-family: $g-font-style;
        font-size: 1pc;
        letter-spacing: 0;
        line-height: 1.5;
        color: #333;
        font-size: 16px;
        .channelT {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
