@import "../../styles/common.scss";
@import "./BuildCarMain.scss";

.CarAcc {
  padding-left: 12px;
  background-color: #f5f5f5;
  .title {
    font-family: Univers LT W02_57 Condensed, sans-serif;
    padding: 24px 0px 0px 20px;
    letter-spacing: 0;
    line-height: 96px;
    font-size: 24px;
    background: #f5f5f5;
    text-transform: lowercase;
  }
  .carOutlookTapCont {
    background-color: #f5f5f5;
    box-shadow: inset 0 -1px 0 #ebebeb;
    overflow: hidden;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    .toolBar {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: auto;
      height: 48px;
      white-space: nowrap;
      li {
        padding: 0 20px;
        line-height: 40px;
        display: flex;
        align-items: center;
        background-color: #f5f5f5;
        font-size: 13px;
        color: #666;
        cursor: pointer;
        span {
          font-size: 13px;
          color: #404040;
          letter-spacing: 0;
          text-transform: uppercase;
          line-height: 40px;

          img {
            vertical-align: middle;
          }
        }
      }
      li:last-child {
        background-color: #ffff;
        padding: 12px 14px;
        position: absolute;
        top: -10px;
        right: 0;
        vertical-align: top;
      }
      .firstBtn {
        background-color: #ffffff;
      }
      .Clicked {
        cursor: pointer;
        display: flex;
        background-color: #fff;
      }
    }
  }

  .selectionsCont {
    background: #ffffff;
    white-space: nowrap;
    overflow: hidden;

    .scrollSection {
      position: relative;
      width: auto;
      padding-bottom: 70px;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 20px;

      .CarAccListDisable {
        display: none;
        vertical-align: middle;
      }

      .cardBox {
        // zoom: 1;
        box-sizing: border-box;
        width: 25%;
        float: left;
        display: inline-block;
        padding-left: 0.83333%;
        padding-right: 0.83333%;
        padding: 24px 20px;
        background: #fff;
        .productImg {
          img {
            max-width: 100%;
          }
        }

        .cardBoxContent {
          zoom: 1;
          position: relative;
          line-height: 40px;
          margin: 12px 0;
          padding-bottom: 34px;
          display: flex;
          justify-content: space-around;

          .informaitonBtn {
            background-image: url("../../images/CarAccInformationBtn.PNG");
            position: absolute;
            top: 5px;
            left: 0;
            margin-bottom: 24px;
            width: 36px;
            height: 28px;
            cursor: pointer;
          }

          .informationBtn::before {
            color: #999;
          }

          .cardBoxTitle {
            font-size: 16px;
            background-color: #ffffff;
            // padding-top: -6px;
            font-weight: 400;
            z-index: 2;
            margin-left: 10px;
            text-align: left;
          }
        }

        .countBtn {
          float: right;
          border: 1px #ebebeb solid;

          button {
            height: 38px;
            border: none;
          }

          .minusBtn {
            border: 1px #ebebeb solid;
            background-color: #ffff;
          }

          .minusBtn:hover {
            background-color: #ebebeb;
          }

          .plusBtn {
            border: 1px #ebebeb solid;
            background-color: #0b2749;
            color: #ffff;
          }

          .plusBtn:hover {
            cursor: pointer;
          }

          .count {
            padding: 0 10px;
          }
        }
      }
      .cardBox:last-child {
        clear: right;
      }
    }

    .accMore {
      margin: 30px 0;
      text-align: center;
      display: block;
      position: absolute;
      bottom: -30px;
      left: 45%;
      padding-bottom: 30px;
      span {
        width: 24px;
        height: 25px;
        font-size: 14px;
        vertical-align: middle;
        margin-left: 12px;
      }
    }
    .accMore:hover {
      cursor: pointer;
    }

    .moreBtn {
      background-image: url("../../images/CarAccMore.PNG");
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      content: "";
      vertical-align: middle;
      margin-left: 12px;
    }

    .moreBtnHide {
      background-image: url("../../images/CarAccMore.PNG");
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      content: "";
      vertical-align: middle;
      margin-left: 12px;
      transform: rotate(180deg);
    }
  }

  .priceCheck {
    padding-top: 60px;
    text-align: center;
    background-color: #f5f5f5;
    p {
      span {
        font-size: 16px;
        color: #333333;
      }
    }
    .button {
      padding: 0;
      line-height: 46px;
      width: 150px;
      margin: 24px auto 12px;
      background: #0b2749;
      border: 1px solid #0b2749;
      border-radius: 2px;
      color: #fff;
      font-size: 14px;
      font-weight: normal;
    }
  }
}
